/*全局样式表   切勿修改   切勿修改   切勿修改   切勿修改   切勿修改   切勿修改   切勿修改*/
/*全局样式表   切勿修改   切勿修改   切勿修改   切勿修改   切勿修改   切勿修改   切勿修改*/

*{
	margin: 0px;
	padding: 0px;
	font-family: Tahoma, Arial, Roboto, 'Droid Sans', 'Helvetica Neue', 'Droid Sans Fallback', 'Heiti SC', sans-self;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

a{
	font-size: 14px;
	text-decoration: none;
}

ul, ol{
	list-style: none;
}

/*width*/
.w1{
	width: 1px !important;
}

.w2{
	width: 2px !important;
}

.w3{
	width: 3px !important;
}

.w4{
	width: 4px !important;
}

.w5{
	width: 5px !important;
}

.w6{
	width: 6px !important;
}

.w7{
	width: 7px !important;
}

.w8{
	width: 8px !important;
}

.w9{
	width: 9px !important;
}

.w10{
	width: 10px !important;
}

.w11{
	width: 11px !important;
}

.w12{
	width: 12px !important;
}

.w13{
	width: 13px !important;
}

.w14{
	width: 14px !important;
}

.w15{
	width: 15px !important;
}

.w16{
	width: 16px !important;
}

.w17{
	width: 17px !important;
}

.w18{
	width: 18px !important;
}

.w19{
	width: 19px !important;
}

.w20{
	width: 20px !important;
}

.w21{
	width: 21px !important;
}

.w22{
	width: 22px !important;
}

.w23{
	width: 23px !important;
}

.w24{
	width: 24px !important;
}

.w25{
	width: 25px !important;
}

.w26{
	width: 26px !important;
}

.w27{
	width: 27px !important;
}

.w28{
	width: 28px !important;
}

.w29{
	width: 29px !important;
}

.w30{
	width: 30px !important;
}

.w31{
	width: 31px !important;
}

.w32{
	width: 32px !important;
}

.w33{
	width: 33px !important;
}

.w34{
	width: 34px !important;
}

.w35{
	width: 35px !important;
}

.w36{
	width: 36px !important;
}

.w37{
	width: 37px !important;
}

.w38{
	width: 38px !important;
}

.w39{
	width: 39px !important;
}

.w40{
	width: 40px !important;
}

.w41{
	width: 41px !important;
}

.w42{
	width: 42px !important;
}

.w43{
	width: 43px !important;
}

.w44{
	width: 44px !important;
}

.w45{
	width: 45px !important;
}

.w46{
	width: 46px !important;
}

.w47{
	width: 47px !important;
}

.w48{
	width: 48px !important;
}

.w49{
	width: 49px !important;
}

.w50{
	width: 50px !important;
}

.w51{
	width: 51px !important;
}

.w52{
	width: 52px !important;
}

.w53{
	width: 53px !important;
}

.w54{
	width: 54px !important;
}

.w55{
	width: 55px !important;
}

.w56{
	width: 56px !important;
}

.w57{
	width: 57px !important;
}

.w58{
	width: 58px !important;
}

.w59{
	width: 59px !important;
}

.w60{
	width: 60px !important;
}

.w61{
	width: 61px !important;
}

.w62{
	width: 62px !important;
}

.w63{
	width: 63px !important;
}

.w64{
	width: 64px !important;
}

.w65{
	width: 65px !important;
}

.w66{
	width: 66px !important;
}

.w67{
	width: 67px !important;
}

.w68{
	width: 68px !important;
}

.w69{
	width: 69px !important;
}

.w70{
	width: 70px !important;
}

.w71{
	width: 71px !important;
}

.w72{
	width: 72px !important;
}

.w73{
	width: 73px !important;
}

.w74{
	width: 74px !important;
}

.w75{
	width: 75px !important;
}

.w76{
	width: 76px !important;
}

.w77{
	width: 77px !important;
}

.w78{
	width: 78px !important;
}

.w79{
	width: 79px !important;
}

.w80{
	width: 80px !important;
}

.w81{
	width: 81px !important;
}

.w82{
	width: 82px !important;
}

.w83{
	width: 83px !important;
}

.w84{
	width: 84px !important;
}

.w85{
	width: 85px !important;
}

.w86{
	width: 86px !important;
}

.w87{
	width: 87px !important;
}

.w88{
	width: 88px !important;
}

.w89{
	width: 89px !important;
}

.w90{
	width: 90px !important;
}

.w91{
	width: 91px !important;
}

.w92{
	width: 92px !important;
}

.w93{
	width: 93px !important;
}

.w94{
	width: 94px !important;
}

.w95{
	width: 95px !important;
}

.w96{
	width: 96px !important;
}

.w97{
	width: 97px !important;
}

.w98{
	width: 98px !important;
}

.w99{
	width: 99px !important;
}

.w100{
	width: 100px !important;
}

.w110{
	width: 110px !important;
}

.w120{
	width: 120px !important;
}

.w130{
	width: 130px !important;
}

.w140{
	width: 140px !important;
}

.w150{
	width: 150px !important;
}

.w160{
	width: 160px !important;
}

.w170{
	width: 170px !important;
}

.w180{
	width: 180px !important;
}

.w190{
	width: 190px !important;
}

.w200{
	width: 200px !important;
}

.w250{
	width: 250px !important;
}

.w300{
	width: 300px !important;
}

.w350{
	width: 350px !important;
}

.w400{
	width: 400px !important;
}

.w500{
	width: 500px !important;
}

.w600{
	width: 600px !important;
}

.w700{
	width: 700px !important;
}

.w800{
	width: 800px !important;
}

.w900{
	width: 900px !important;
}

.w1000{
	width: 1000px !important;
}

.w1100{
	width: 1100px !important;
}

.w1200{
	width: 1200px !important;
}

.per10{
	width: 10% !important;
}

.per15{
	width: 15% !important;
}

.per20{
	width: 20% !important;
}

.per25{
	width: 25% !important;
}

.per30{
	width: 30% !important;
}

.per35{
	width: 35% !important;
}

.per40{
	width: 40% !important;
}

.per45{
	width: 45% !important;
}

.per50{
	width: 50% !important;
}

.per55{
	width: 55% !important;
}

.per60{
	width: 60% !important;
}

.per65{
	width: 65% !important;
}

.per70{
	width: 70% !important;
}

.per75{
	width: 75% !important;
}

.per80{
	width: 80% !important;
}

.per85{
	width: 85% !important;
}

.per90{
	width: 90% !important;
}

.per95{
	width: 95% !important;
}

.per100{
	width: 100% !important;
}

.mw{
	min-width: 100% !important;
}

/*height*/
.h1{
	height: 1px !important;
}

.h2{
	height: 2px !important;
}

.h3{
	height: 3px !important;
}

.h4{
	height: 4px !important;
}

.h5{
	height: 5px !important;
}

.h6{
	height: 6px !important;
}

.h7{
	height: 7px !important;
}

.h8{
	height: 8px !important;
}

.h9{
	height: 9px !important;
}

.h10{
	height: 10px !important;
}

.h11{
	height: 11px !important;
}

.h12{
	height: 12px !important;
}

.h13{
	height: 13px !important;
}

.h14{
	height: 14px !important;
}

.h15{
	height: 15px !important;
}

.h16{
	height: 16px !important;
}

.h17{
	height: 17px !important;
}

.h18{
	height: 18px !important;
}

.h19{
	height: 19px !important;
}

.h20{
	height: 20px !important;
}

.h21{
	height: 21px !important;
}

.h22{
	height: 22px !important;
}

.h23{
	height: 23px !important;
}

.h24{
	height: 24px !important;
}

.h25{
	height: 25px !important;
}

.h26{
	height: 26px !important;
}

.h27{
	height: 27px !important;
}

.h28{
	height: 28px !important;
}

.h29{
	height: 29px !important;
}

.h30{
	height: 30px !important;
}

.h31{
	height: 31px !important;
}

.h32{
	height: 32px !important;
}

.h33{
	height: 33px !important;
}

.h34{
	height: 34px !important;
}

.h35{
	height: 35px !important;
}

.h36{
	height: 36px !important;
}

.h37{
	height: 37px !important;
}

.h38{
	height: 38px !important;
}

.h39{
	height: 39px !important;
}

.h40{
	height: 40px !important;
}

.h41{
	height: 41px !important;
}

.h42{
	height: 42px !important;
}

.h43{
	height: 43px !important;
}

.h44{
	height: 44px !important;
}

.h45{
	height: 45px !important;
}

.h46{
	height: 46px !important;
}

.h47{
	height: 47px !important;
}

.h48{
	height: 48px !important;
}

.h49{
	height: 49px !important;
}

.h50{
	height: 50px !important;
}

.h51{
	height: 51px !important;
}

.h52{
	height: 52px !important;
}

.h53{
	height: 53px !important;
}

.h54{
	height: 54px !important;
}

.h55{
	height: 55px !important;
}

.h56{
	height: 56px !important;
}

.h57{
	height: 57px !important;
}

.h58{
	height: 58px !important;
}

.h59{
	height: 59px !important;
}

.h60{
	height: 60px !important;
}

.h61{
	height: 61px !important;
}

.h62{
	height: 62px !important;
}

.h63{
	height: 63px !important;
}

.h64{
	height: 64px !important;
}

.h65{
	height: 65px !important;
}

.h66{
	height: 66px !important;
}

.h67{
	height: 67px !important;
}

.h68{
	height: 68px !important;
}

.h69{
	height: 69px !important;
}

.h70{
	height: 70px !important;
}

.h71{
	height: 71px !important;
}

.h72{
	height: 72px !important;
}

.h73{
	height: 73px !important;
}

.h74{
	height: 74px !important;
}

.h75{
	height: 75px !important;
}

.h76{
	height: 76px !important;
}

.h77{
	height: 77px !important;
}

.h78{
	height: 78px !important;
}

.h79{
	height: 79px !important;
}

.h80{
	height: 80px !important;
}

.h81{
	height: 81px !important;
}

.h82{
	height: 82px !important;
}

.h83{
	height: 83px !important;
}

.h84{
	height: 84px !important;
}

.h85{
	height: 85px !important;
}

.h86{
	height: 86px !important;
}

.h87{
	height: 87px !important;
}

.h88{
	height: 88px !important;
}

.h89{
	height: 89px !important;
}

.h90{
	height: 90px !important;
}

.h91{
	height: 91px !important;
}

.h92{
	height: 92px !important;
}

.h93{
	height: 93px !important;
}

.h94{
	height: 94px !important;
}

.h95{
	height: 95px !important;
}

.h96{
	height: 96px !important;
}

.h97{
	height: 97px !important;
}

.h98{
	height: 98px !important;
}

.h99{
	height: 99px !important;
}

.h100{
	height: 100px !important;
}

.h110{
	height: 110px !important;
}

.h120{
	height: 120px !important;
}

.h130{
	height: 130px !important;
}

.h140{
	height: 140px !important;
}

.h150{
	height: 150px !important;
}

.h160{
	height: 160px !important;
}

.h170{
	height: 170px !important;
}

.h180{
	height: 180px !important;
}

.h190{
	height: 190px !important;
}

.h200{
	height: 200px !important;
}

.h250{
	height: 250px !important;
}

.h300{
	height: 300px !important;
}

.h350{
	height: 350px !important;
}

.h400{
	height: 400px !important;
}

.h500{
	height: 500px !important;
}

.h600{
	height: 600px !important;
}

.h700{
	height: 700px !important;
}

.h800{
	height: 800px !important;
}

.h900{
	height: 900px !important;
}

.h1000{
	height: 1000px !important;
}

.h1100{
	height: 1100px !important;
}

.h1200{
	height: 1200px !important;
}

.mh{
	min-height: 100% !important;
}

.perH{
	height: 100% !important;
}

/*display*/

.dp-none{
	display: none !important;
}

.dp-block{
	display: block !important;
}

.dp-inline{
	display: inline !important;
}

.dp-inline-block{
	display: inline-block !important;
}

/*border*/

.bd-none{
	border: none !important;
}

.bd-t-none{
	border-top: none !important;
}

.bd-r-none{
	border-right: none !important;
}

.bd-b-none{
	border-bottom: none !important;
}

.bd-l-none{
	border-left: none !important;
}

.bd{
	border: 1px solid #ccc !important;
}

.bd-t{
	border-top: 1px solid #ccc !important;
}

.bd-r{
	border-right: 1px solid #ccc !important;
}

.bd-b{
	border-bottom: 1px solid #ccc !important;
}

.bd-l{
	border-left: 1px solid #ccc !important;
}

.bd-width-2{
	border-width: 2px !important;
}

.bd-width-3{
	border-width: 3px !important;
}

.bd-width-4{
	border-width: 3px !important;
}

.bd-width-5{
	border-width: 3px !important;
}

.bd-style-dashed{
	border-style: dashed !important;
}

.bd-style-dotted{
	border-style: dotted !important;
}

.bd-color-primary{
	border-color: #409EFF !important;
}

.bd-color-success{
	border-color: #67C23A !important;
}

.bd-color-warning{
	border-color: #E6A23C !important;
}

.bd-color-danger{
	border-color: #F56C6C !important;
}

.bd-color-info{
	border-color: #909399 !important;
}

.bd-color-light1{
	border-color: #F2F6FC !important;
}

.bd-color-light2{
	border-color: #EBEEF5 !important;
}

.bd-color-light3{
	border-color: #E4E7ED !important;
}

.bd-color-light4{
	border-color: #DCDFE6 !important;
}

.bd-color-dark1{
	border-color: #C0C4CC !important;
}

.bd-color-dark2{
	border-color: #909399 !important;
}

.bd-color-dark3{
	border-color: #606266 !important;
}

.bd-color-dark4{
	border-color: #303133 !important;
}

.bd-radius-3{
	border-radius: 3px !important;
	-webkit-border-radius: 3px !important;
}

.bd-radius-5{
	border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}

.bd-radius-50{
	border-radius: 50% !important;
	-webkit-border-radius: 50% !important;
}

.bd-radius-100{
	border-radius: 100% !important;
	-webkit-border-radius: 100% !important;
}

/*color*/

.color-primary{
	color: #409EFF !important;
}

.color-success{
	color: #67C23A !important;
}

.color-warning{
	color: #E6A23C !important;
}

.color-danger{
	color: #F56C6C !important;
}

.color-info{
	color: #909399 !important;
}

.color-light1{
	color: #F2F6FC !important;
}

.color-light2{
	color: #EBEEF5 !important;
}

.color-light3{
	color: #E4E7ED !important;
}

.color-light4{
	color: #DCDFE6 !important;
}

.color-dark1{
	color: #C0C4CC !important;
}

.color-dark2{
	color: #909399 !important;
}

.color-dark3{
	color: #606266 !important;
}

.color-dark4{
	color: #303133 !important;
}

.color-white{
	color: white !important;
}

.color-black{
	color: black !important;
}

/*background-color*/

.bg-none{
	background: none !important;
}

.bg-primary{
	background-color: #409EFF !important;
}

.bg-success{
	background-color: #67C23A !important;
}

.bg-warning{
	background-color: #E6A23C !important;
}

.bg-danger{
	background-color: #F56C6C !important;
}

.bg-info{
	background-color: #909399 !important;
}

.bg-light1{
	background-color: #F2F6FC !important;
}

.bg-light2{
	background-color: #EBEEF5 !important;
}

.bg-light3{
	background-color: #E4E7ED !important;
}

.bg-light4{
	background-color: #DCDFE6 !important;
}

.bg-dark1{
	background-color: #C0C4CC !important;
}

.bg-dark2{
	background-color: #909399 !important;
}

.bg-dark3{
	background-color: #606266 !important;
}

.bg-dark4{
	background-color: #303133 !important;
}

.bg-white{
	background-color: white !important;
}

.bg-black{
	background-color: black !important;
}

/*background-repeat*/

.bg-repeat-none{
	background-repeat: no-repeat !important;
}

.bg-repeat-x{
	background-repeat: repeat-x !important;
}

.bg-repeat-y{
	background-repeat: repeat-y !important;
}

/*float*/

.fl{
	float: left !important;
}

.fr{
	float: right !important;
}

/*position*/
.p-ab{
	position: absolute !important;
}

.p-re{
	position: relative !important;
}

.p-fixed{
	position: fixed !important;
}

/*top*/

.t1{
	top: 1px !important;
}

.t2{
	top: 2px !important;
}

.t3{
	top: 3px !important;
}

.t4{
	top: 4px !important;
}

.t5{
	top: 5px !important;
}

.t6{
	top: 6px !important;
}

.t7{
	top: 7px !important;
}

.t8{
	top: 8px !important;
}

.t9{
	top: 9px !important;
}

.t10{
	top: 10px !important;
}

.t11{
	top: 11px !important;
}

.t12{
	top: 12px !important;
}

.t13{
	top: 13px !important;
}

.t14{
	top: 14px !important;
}

.t15{
	top: 15px !important;
}

.t16{
	top: 16px !important;
}

.t17{
	top: 17px !important;
}

.t18{
	top: 18px !important;
}

.t19{
	top: 19px !important;
}

.t20{
	top: 20px !important;
}

.t21{
	top: 21px !important;
}

.t22{
	top: 22px !important;
}

.t23{
	top: 23px !important;
}

.t24{
	top: 24px !important;
}

.t25{
	top: 25px !important;
}

.t26{
	top: 26px !important;
}

.t27{
	top: 27px !important;
}

.t28{
	top: 28px !important;
}

.t29{
	top: 29px !important;
}

.t30{
	top: 30px !important;
}

.t35{
	top: 35px !important;
}

.t40{
	top: 40px !important;
}

.t45{
	top: 45px !important;
}

.t50{
	top: 50px !important;
}

.t-1{
	top: -1px !important;
}

.t-2{
	top: -2px !important;
}

.t-3{
	top: -3px !important;
}

.t-4{
	top: -4px !important;
}

.t-5{
	top: -5px !important;
}

.t-6{
	top: -6px !important;
}

.t-7{
	top: -7px !important;
}

.t-8{
	top: -8px !important;
}

.t-9{
	top: -9px !important;
}

.t-10{
	top: -10px !important;
}

.t-11{
	top: -11px !important;
}

.t-12{
	top: -12px !important;
}

.t-13{
	top: -13px !important;
}

.t-14{
	top: -14px !important;
}

.t-15{
	top: -15px !important;
}

.t-16{
	top: -16px !important;
}

.t-17{
	top: -17px !important;
}

.t-18{
	top: -18px !important;
}

.t-19{
	top: -19px !important;
}

.t-20{
	top: -20px !important;
}

.t-21{
	top: -21px !important;
}

.t-22{
	top: -22px !important;
}

.t-23{
	top: -23px !important;
}

.t-24{
	top: -24px !important;
}

.t-25{
	top: -25px !important;
}

.t-26{
	top: -26px !important;
}

.t-27{
	top: -27px !important;
}

.t-28{
	top: -28px !important;
}

.t-29{
	top: -29px !important;
}

.t-30{
	top: -30px !important;
}

.t-35{
	top: -35px !important;
}

.t-40{
	top: -40px !important;
}

.t-45{
	top: -45px !important;
}

.t-50{
	top: -50px !important;
}

.t-per50{
	top: 50% !important;
}

/*bottom*/

.b1{
	bottom: 1px !important;
}

.b2{
	bottom: 2px !important;
}

.b3{
	bottom: 3px !important;
}

.b4{
	bottom: 4px !important;
}

.b5{
	bottom: 5px !important;
}

.b6{
	bottom: 6px !important;
}

.b7{
	bottom: 7px !important;
}

.b8{
	bottom: 8px !important;
}

.b9{
	bottom: 9px !important;
}

.b10{
	bottom: 10px !important;
}

.b11{
	bottom: 11px !important;
}

.b12{
	bottom: 12px !important;
}

.b13{
	bottom: 13px !important;
}

.b14{
	bottom: 14px !important;
}

.b15{
	bottom: 15px !important;
}

.b16{
	bottom: 16px !important;
}

.b17{
	bottom: 17px !important;
}

.b18{
	bottom: 18px !important;
}

.b19{
	bottom: 19px !important;
}

.b20{
	bottom: 20px !important;
}

.b21{
	bottom: 21px !important;
}

.b22{
	bottom: 22px !important;
}

.b23{
	bottom: 23px !important;
}

.b24{
	bottom: 24px !important;
}

.b25{
	bottom: 25px !important;
}

.b26{
	bottom: 26px !important;
}

.b27{
	bottom: 27px !important;
}

.b28{
	bottom: 28px !important;
}

.b29{
	bottom: 29px !important;
}

.b30{
	bottom: 30px !important;
}

.b35{
	bottom: 35px !important;
}

.b40{
	bottom: 40px !important;
}

.b45{
	bottom: 45px !important;
}

.b50{
	bottom: 50px !important;
}

.b-1{
	bottom: -1px !important;
}

.b-2{
	bottom: -2px !important;
}

.b-3{
	bottom: -3px !important;
}

.b-4{
	bottom: -4px !important;
}

.b-5{
	bottom: -5px !important;
}

.b-6{
	bottom: -6px !important;
}

.b-7{
	bottom: -7px !important;
}

.b-8{
	bottom: -8px !important;
}

.b-9{
	bottom: -9px !important;
}

.b-10{
	bottom: -10px !important;
}

.b-11{
	bottom: -11px !important;
}

.b-12{
	bottom: -12px !important;
}

.b-13{
	bottom: -13px !important;
}

.b-14{
	bottom: -14px !important;
}

.b-15{
	bottom: -15px !important;
}

.b-16{
	bottom: -16px !important;
}

.b-17{
	bottom: -17px !important;
}

.b-18{
	bottom: -18px !important;
}

.b-19{
	bottom: -19px !important;
}

.b-20{
	bottom: -20px !important;
}

.b-21{
	bottom: -21px !important;
}

.b-22{
	bottom: -22px !important;
}

.b-23{
	bottom: -23px !important;
}

.b-24{
	bottom: -24px !important;
}

.b-25{
	bottom: -25px !important;
}

.b-26{
	bottom: -26px !important;
}

.b-27{
	bottom: -27px !important;
}

.b-28{
	bottom: -28px !important;
}

.b-29{
	bottom: -29px !important;
}

.b-30{
	bottom: -30px !important;
}

.b-35{
	bottom: -35px !important;
}

.b-40{
	bottom: -40px !important;
}

.b-45{
	bottom: -45px !important;
}

.b-50{
	bottom: -50px !important;
}

.b-per50{
	bottom: 50% !important;
}

/*left*/

.l1{
	left: 1px !important;
}

.l2{
	left: 2px !important;
}

.l3{
	left: 3px !important;
}

.l4{
	left: 4px !important;
}

.l5{
	left: 5px !important;
}

.l6{
	left: 6px !important;
}

.l7{
	left: 7px !important;
}

.l8{
	left: 8px !important;
}

.l9{
	left: 9px !important;
}

.l10{
	left: 10px !important;
}

.l11{
	left: 11px !important;
}

.l12{
	left: 12px !important;
}

.l13{
	left: 13px !important;
}

.l14{
	left: 14px !important;
}

.l15{
	left: 15px !important;
}

.l16{
	left: 16px !important;
}

.l17{
	left: 17px !important;
}

.l18{
	left: 18px !important;
}

.l19{
	left: 19px !important;
}

.l20{
	left: 20px !important;
}

.l21{
	left: 21px !important;
}

.l22{
	left: 22px !important;
}

.l23{
	left: 23px !important;
}

.l24{
	left: 24px !important;
}

.l25{
	left: 25px !important;
}

.l26{
	left: 26px !important;
}

.l27{
	left: 27px !important;
}

.l28{
	left: 28px !important;
}

.l29{
	left: 29px !important;
}

.l30{
	left: 30px !important;
}

.l35{
	left: 35px !important;
}

.l40{
	left: 40px !important;
}

.l45{
	left: 45px !important;
}

.l50{
	left: 50px !important;
}

.l100{
	left: 100px !important;
}

.l150{
	left: 150px !important;
}

.l200{
	left: 200px !important;
}

.l250{
	left: 250px !important;
}

.l-1{
	left: -1px !important;
}

.l-2{
	left: -2px !important;
}

.l-3{
	left: -3px !important;
}

.l-4{
	left: -4px !important;
}

.l-5{
	left: -5px !important;
}

.l-6{
	left: -6px !important;
}

.l-7{
	left: -7px !important;
}

.l-8{
	left: -8px !important;
}

.l-9{
	left: -9px !important;
}

.l-10{
	left: -10px !important;
}

.l-11{
	left: -11px !important;
}

.l-12{
	left: -12px !important;
}

.l-13{
	left: -13px !important;
}

.l-14{
	left: -14px !important;
}

.l-15{
	left: -15px !important;
}

.l-16{
	left: -16px !important;
}

.l-17{
	left: -17px !important;
}

.l-18{
	left: -18px !important;
}

.l-19{
	left: -19px !important;
}

.l-20{
	left: -20px !important;
}

.l-21{
	left: -21px !important;
}

.l-22{
	left: -22px !important;
}

.l-23{
	left: -23px !important;
}

.l-24{
	left: -24px !important;
}

.l-25{
	left: -25px !important;
}

.l-26{
	left: -26px !important;
}

.l-27{
	left: -27px !important;
}

.l-28{
	left: -28px !important;
}

.l-29{
	left: -29px !important;
}

.l-30{
	left: -30px !important;
}

.l-35{
	left: -35px !important;
}

.l-40{
	left: -40px !important;
}

.l-45{
	left: -45px !important;
}

.l-50{
	left: -50px !important;
}

.l-per50{
	left: 50% !important;
}

/*right*/

.r1{
	right: 1px !important;
}

.r2{
	right: 2px !important;
}

.r3{
	right: 3px !important;
}

.r4{
	right: 4px !important;
}

.r5{
	right: 5px !important;
}

.r6{
	right: 6px !important;
}

.r7{
	right: 7px !important;
}

.r8{
	right: 8px !important;
}

.r9{
	right: 9px !important;
}

.r10{
	right: 10px !important;
}

.r11{
	right: 11px !important;
}

.r12{
	right: 12px !important;
}

.r13{
	right: 13px !important;
}

.r14{
	right: 14px !important;
}

.r15{
	right: 15px !important;
}

.r16{
	right: 16px !important;
}

.r17{
	right: 17px !important;
}

.r18{
	right: 18px !important;
}

.r19{
	right: 19px !important;
}

.r20{
	right: 20px !important;
}

.r21{
	right: 21px !important;
}

.r22{
	right: 22px !important;
}

.r23{
	right: 23px !important;
}

.r24{
	right: 24px !important;
}

.r25{
	right: 25px !important;
}

.r26{
	right: 26px !important;
}

.r27{
	right: 27px !important;
}

.r28{
	right: 28px !important;
}

.r29{
	right: 29px !important;
}

.r30{
	right: 30px !important;
}

.r35{
	right: 35px !important;
}

.r40{
	right: 40px !important;
}

.r45{
	right: 45px !important;
}

.r50{
	right: 50px !important;
}

.r-1{
	right: -1px !important;
}

.r-2{
	right: -2px !important;
}

.r-3{
	right: -3px !important;
}

.r-4{
	right: -4px !important;
}

.r-5{
	right: -5px !important;
}

.r-6{
	right: -6px !important;
}

.r-7{
	right: -7px !important;
}

.r-8{
	right: -8px !important;
}

.r-9{
	right: -9px !important;
}

.r-10{
	right: -10px !important;
}

.r-11{
	right: -11px !important;
}

.r-12{
	right: -12px !important;
}

.r-13{
	right: -13px !important;
}

.r-14{
	right: -14px !important;
}

.r-15{
	right: -15px !important;
}

.r-16{
	right: -16px !important;
}

.r-17{
	right: -17px !important;
}

.r-18{
	right: -18px !important;
}

.r-19{
	right: -19px !important;
}

.r-20{
	right: -20px !important;
}

.r-21{
	right: -21px !important;
}

.r-22{
	right: -22px !important;
}

.r-23{
	right: -23px !important;
}

.r-24{
	right: -24px !important;
}

.r-25{
	right: -25px !important;
}

.r-26{
	right: -26px !important;
}

.r-27{
	right: -27px !important;
}

.r-28{
	right: -28px !important;
}

.r-29{
	right: -29px !important;
}

.r-30{
	right: -30px !important;
}

.r-35{
	right: -35px !important;
}

.r-40{
	right: -40px !important;
}

.r-45{
	right: -45px !important;
}

.r-50{
	right: -50px !important;
}

.r-per50{
	right: 50% !important;
}

/*margin-top*/

.mt0{
	margin-top: 0px !important;
}

.mt1{
	margin-top: 1px !important;
}

.mt2{
	margin-top: 2px !important;
}

.mt3{
	margin-top: 3px !important;
}

.mt4{
	margin-top: 4px !important;
}

.mt5{
	margin-top: 5px !important;
}

.mt6{
	margin-top: 6px !important;
}

.mt7{
	margin-top: 7px !important;
}

.mt8{
	margin-top: 8px !important;
}

.mt9{
	margin-top: 9px !important;
}

.mt10{
	margin-top: 10px !important;
}

.mt11{
	margin-top: 11px !important;
}

.mt12{
	margin-top: 12px !important;
}

.mt13{
	margin-top: 13px !important;
}

.mt14{
	margin-top: 14px !important;
}

.mt15{
	margin-top: 15px !important;
}

.mt16{
	margin-top: 16px !important;
}

.mt17{
	margin-top: 17px !important;
}

.mt18{
	margin-top: 18px !important;
}

.mt19{
	margin-top: 19px !important;
}

.mt20{
	margin-top: 20px !important;
}

.mt21{
	margin-top: 21px !important;
}

.mt22{
	margin-top: 22px !important;
}

.mt23{
	margin-top: 23px !important;
}

.mt24{
	margin-top: 24px !important;
}

.mt25{
	margin-top: 25px !important;
}

.mt26{
	margin-top: 26px !important;
}

.mt27{
	margin-top: 27px !important;
}

.mt28{
	margin-top: 28px !important;
}

.mt29{
	margin-top: 29px !important;
}

.mt30{
	margin-top: 30px !important;
}

.mt35{
	margin-top: 35px !important;
}

.mt40{
	margin-top: 40px !important;
}

.mt45{
	margin-top: 45px !important;
}

.mt50{
	margin-top: 50px !important;
}

.mt-1{
	margin-top: -1px !important;
}

.mt-2{
	margin-top: -2px !important;
}

.mt-3{
	margin-top: -3px !important;
}

.mt-4{
	margin-top: -4px !important;
}

.mt-5{
	margin-top: -5px !important;
}

.mt-6{
	margin-top: -6px !important;
}

.mt-7{
	margin-top: -7px !important;
}

.mt-8{
	margin-top: -8px !important;
}

.mt-9{
	margin-top: -9px !important;
}

.mt-10{
	margin-top: -10px !important;
}

.mt-11{
	margin-top: -11px !important;
}

.mt-12{
	margin-top: -12px !important;
}

.mt-13{
	margin-top: -13px !important;
}

.mt-14{
	margin-top: -14px !important;
}

.mt-15{
	margin-top: -15px !important;
}

.mt-16{
	margin-top: -16px !important;
}

.mt-17{
	margin-top: -17px !important;
}

.mt-18{
	margin-top: -18px !important;
}

.mt-19{
	margin-top: -19px !important;
}

.mt-20{
	margin-top: -20px !important;
}

.mt-21{
	margin-top: -21px !important;
}

.mt-22{
	margin-top: -22px !important;
}

.mt-23{
	margin-top: -23px !important;
}

.mt-24{
	margin-top: -24px !important;
}

.mt-25{
	margin-top: -25px !important;
}

.mt-26{
	margin-top: -26px !important;
}

.mt-27{
	margin-top: -27px !important;
}

.mt-28{
	margin-top: -28px !important;
}

.mt-29{
	margin-top: -29px !important;
}

.mt-30{
	margin-top: -30px !important;
}

.mt-35{
	margin-top: -35px !important;
}

.mt-40{
	margin-top: -40px !important;
}

.mt-45{
	margin-top: -45px !important;
}

.mt-50{
	margin-top: -50px !important;
}

.mt-per50{
	margin-top: 50% !important;
}

.mt-per-50{
	margin-top: -50% !important;
}

/*margin-right*/

.mr-auto{
	margin-right: auto !important;
}

.mr0{
	margin-right: 0px !important;
}

.mr1{
	margin-right: 1px !important;
}

.mr2{
	margin-right: 2px !important;
}

.mr3{
	margin-right: 3px !important;
}

.mr4{
	margin-right: 4px !important;
}

.mr5{
	margin-right: 5px !important;
}

.mr6{
	margin-right: 6px !important;
}

.mr7{
	margin-right: 7px !important;
}

.mr8{
	margin-right: 8px !important;
}

.mr9{
	margin-right: 9px !important;
}

.mr10{
	margin-right: 10px !important;
}

.mr11{
	margin-right: 11px !important;
}

.mr12{
	margin-right: 12px !important;
}

.mr13{
	margin-right: 13px !important;
}

.mr14{
	margin-right: 14px !important;
}

.mr15{
	margin-right: 15px !important;
}

.mr16{
	margin-right: 16px !important;
}

.mr17{
	margin-right: 17px !important;
}

.mr18{
	margin-right: 18px !important;
}

.mr19{
	margin-right: 19px !important;
}

.mr20{
	margin-right: 20px !important;
}

.mr21{
	margin-right: 21px !important;
}

.mr22{
	margin-right: 22px !important;
}

.mr23{
	margin-right: 23px !important;
}

.mr24{
	margin-right: 24px !important;
}

.mr25{
	margin-right: 25px !important;
}

.mr26{
	margin-right: 26px !important;
}

.mr27{
	margin-right: 27px !important;
}

.mr28{
	margin-right: 28px !important;
}

.mr29{
	margin-right: 29px !important;
}

.mr30{
	margin-right: 30px !important;
}

.mr35{
	margin-right: 35px !important;
}

.mr40{
	margin-right: 40px !important;
}

.mr45{
	margin-right: 45px !important;
}

.mr50{
	margin-right: 50px !important;
}

.mr-1{
	margin-right: -1px !important;
}

.mr-2{
	margin-right: -2px !important;
}

.mr-3{
	margin-right: -3px !important;
}

.mr-4{
	margin-right: -4px !important;
}

.mr-5{
	margin-right: -5px !important;
}

.mr-6{
	margin-right: -6px !important;
}

.mr-7{
	margin-right: -7px !important;
}

.mr-8{
	margin-right: -8px !important;
}

.mr-9{
	margin-right: -9px !important;
}

.mr-10{
	margin-right: -10px !important;
}

.mr-11{
	margin-right: -11px !important;
}

.mr-12{
	margin-right: -12px !important;
}

.mr-13{
	margin-right: -13px !important;
}

.mr-14{
	margin-right: -14px !important;
}

.mr-15{
	margin-right: -15px !important;
}

.mr-16{
	margin-right: -16px !important;
}

.mr-17{
	margin-right: -17px !important;
}

.mr-18{
	margin-right: -18px !important;
}

.mr-19{
	margin-right: -19px !important;
}

.mr-20{
	margin-right: -20px !important;
}

.mr-21{
	margin-right: -21px !important;
}

.mr-22{
	margin-right: -22px !important;
}

.mr-23{
	margin-right: -23px !important;
}

.mr-24{
	margin-right: -24px !important;
}

.mr-25{
	margin-right: -25px !important;
}

.mr-26{
	margin-right: -26px !important;
}

.mr-27{
	margin-right: -27px !important;
}

.mr-28{
	margin-right: -28px !important;
}

.mr-29{
	margin-right: -29px !important;
}

.mr-30{
	margin-right: -30px !important;
}

.mr-35{
	margin-right: -35px !important;
}

.mr-40{
	margin-right: -40px !important;
}

.mr-45{
	margin-right: -45px !important;
}

.mr-50{
	margin-right: -50px !important;
}

.mr-per50{
	margin-right: 50% !important;
}

.mr-per-50{
	margin-right: -50% !important;
}

/*margin-bottom*/

.mb0{
	margin-bottom: 0px !important;
}

.mb1{
	margin-bottom: 1px !important;
}

.mb2{
	margin-bottom: 2px !important;
}

.mb3{
	margin-bottom: 3px !important;
}

.mb4{
	margin-bottom: 4px !important;
}

.mb5{
	margin-bottom: 5px !important;
}

.mb6{
	margin-bottom: 6px !important;
}

.mb7{
	margin-bottom: 7px !important;
}

.mb8{
	margin-bottom: 8px !important;
}

.mb9{
	margin-bottom: 9px !important;
}

.mb10{
	margin-bottom: 10px !important;
}

.mb11{
	margin-bottom: 11px !important;
}

.mb12{
	margin-bottom: 12px !important;
}

.mb13{
	margin-bottom: 13px !important;
}

.mb14{
	margin-bottom: 14px !important;
}

.mb15{
	margin-bottom: 15px !important;
}

.mb16{
	margin-bottom: 16px !important;
}

.mb17{
	margin-bottom: 17px !important;
}

.mb18{
	margin-bottom: 18px !important;
}

.mb19{
	margin-bottom: 19px !important;
}

.mb20{
	margin-bottom: 20px !important;
}

.mb21{
	margin-bottom: 21px !important;
}

.mb22{
	margin-bottom: 22px !important;
}

.mb23{
	margin-bottom: 23px !important;
}

.mb24{
	margin-bottom: 24px !important;
}

.mb25{
	margin-bottom: 25px !important;
}

.mb26{
	margin-bottom: 26px !important;
}

.mb27{
	margin-bottom: 27px !important;
}

.mb28{
	margin-bottom: 28px !important;
}

.mb29{
	margin-bottom: 29px !important;
}

.mb30{
	margin-bottom: 30px !important;
}

.mb35{
	margin-bottom: 35px !important;
}

.mb40{
	margin-bottom: 40px !important;
}

.mb50{
	margin-bottom: 50px !important;
}

.mb45{
	margin-bottom: 45px !important;
}

.mb50{
	margin-bottom: 50px !important;
}

.mb-1{
	margin-bottom: -1px !important;
}

.mb-2{
	margin-bottom: -2px !important;
}

.mb-3{
	margin-bottom: -3px !important;
}

.mb-4{
	margin-bottom: -4px !important;
}

.mb-5{
	margin-bottom: -5px !important;
}

.mb-6{
	margin-bottom: -6px !important;
}

.mb-7{
	margin-bottom: -7px !important;
}

.mb-8{
	margin-bottom: -8px !important;
}

.mb-9{
	margin-bottom: -9px !important;
}

.mb-10{
	margin-bottom: -10px !important;
}

.mb-11{
	margin-bottom: -11px !important;
}

.mb-12{
	margin-bottom: -12px !important;
}

.mb-13{
	margin-bottom: -13px !important;
}

.mb-14{
	margin-bottom: -14px !important;
}

.mb-15{
	margin-bottom: -15px !important;
}

.mb-16{
	margin-bottom: -16px !important;
}

.mb-17{
	margin-bottom: -17px !important;
}

.mb-18{
	margin-bottom: -18px !important;
}

.mb-19{
	margin-bottom: -19px !important;
}

.mb-20{
	margin-bottom: -20px !important;
}

.mb-21{
	margin-bottom: -21px !important;
}

.mb-22{
	margin-bottom: -22px !important;
}

.mb-23{
	margin-bottom: -23px !important;
}

.mb-24{
	margin-bottom: -24px !important;
}

.mb-25{
	margin-bottom: -25px !important;
}

.mb-26{
	margin-bottom: -26px !important;
}

.mb-27{
	margin-bottom: -27px !important;
}

.mb-28{
	margin-bottom: -28px !important;
}

.mb-29{
	margin-bottom: -29px !important;
}

.mb-30{
	margin-bottom: -30px !important;
}

.mb-35{
	margin-bottom: -35px !important;
}

.mb-40{
	margin-bottom: -40px !important;
}

.mb-45{
	margin-bottom: -45px !important;
}

.mb-50{
	margin-bottom: -50px !important;
}

.mb-per50{
	margin-bottom: 50% !important;
}

.mb-per-50{
	margin-bottom: -50% !important;
}

/*margin-left*/

.ml-auto{
	margin-left: auto !important;
}

.ml0{
	margin-left: 0px !important;
}

.ml1{
	margin-left: 1px !important;
}

.ml2{
	margin-left: 2px !important;
}

.ml3{
	margin-left: 3px !important;
}

.ml4{
	margin-left: 4px !important;
}

.ml5{
	margin-left: 5px !important;
}

.ml6{
	margin-left: 6px !important;
}

.ml7{
	margin-left: 7px !important;
}

.ml8{
	margin-left: 8px !important;
}

.ml9{
	margin-left: 9px !important;
}

.ml10{
	margin-left: 10px !important;
}

.ml11{
	margin-left: 11px !important;
}

.ml12{
	margin-left: 12px !important;
}

.ml13{
	margin-left: 13px !important;
}

.ml14{
	margin-left: 14px !important;
}

.ml15{
	margin-left: 15px !important;
}

.ml16{
	margin-left: 16px !important;
}

.ml17{
	margin-left: 17px !important;
}

.ml18{
	margin-left: 18px !important;
}

.ml19{
	margin-left: 19px !important;
}

.ml20{
	margin-left: 20px !important;
}

.ml21{
	margin-left: 21px !important;
}

.ml22{
	margin-left: 22px !important;
}

.ml23{
	margin-left: 23px !important;
}

.ml24{
	margin-left: 24px !important;
}

.ml25{
	margin-left: 25px !important;
}

.ml26{
	margin-left: 26px !important;
}

.ml27{
	margin-left: 27px !important;
}

.ml28{
	margin-left: 28px !important;
}

.ml29{
	margin-left: 29px !important;
}

.ml30{
	margin-left: 30px !important;
}

.ml35{
	margin-left: 35px !important;
}

.ml40{
	margin-left: 40px !important;
}

.ml45{
	margin-left: 45px !important;
}

.ml50{
	margin-left: 50px !important;
}

.ml-1{
	margin-left: -1px !important;
}

.ml-2{
	margin-left: -2px !important;
}

.ml-3{
	margin-left: -3px !important;
}

.ml-4{
	margin-left: -4px !important;
}

.ml-5{
	margin-left: -5px !important;
}

.ml-6{
	margin-left: -6px !important;
}

.ml-7{
	margin-left: -7px !important;
}

.ml-8{
	margin-left: -8px !important;
}

.ml-9{
	margin-left: -9px !important;
}

.ml-10{
	margin-left: -10px !important;
}

.ml-11{
	margin-left: -11px !important;
}

.ml-12{
	margin-left: -12px !important;
}

.ml-13{
	margin-left: -13px !important;
}

.ml-14{
	margin-left: -14px !important;
}

.ml-15{
	margin-left: -15px !important;
}

.ml-16{
	margin-left: -16px !important;
}

.ml-17{
	margin-left: -17px !important;
}

.ml-18{
	margin-left: -18px !important;
}

.ml-19{
	margin-left: -19px !important;
}

.ml-20{
	margin-left: -20px !important;
}

.ml-21{
	margin-left: -21px !important;
}

.ml-22{
	margin-left: -22px !important;
}

.ml-23{
	margin-left: -23px !important;
}

.ml-24{
	margin-left: -24px !important;
}

.ml-25{
	margin-left: -25px !important;
}

.ml-26{
	margin-left: -26px !important;
}

.ml-27{
	margin-left: -27px !important;
}

.ml-28{
	margin-left: -28px !important;
}

.ml-29{
	margin-left: -29px !important;
}

.ml-30{
	margin-left: -30px !important;
}

.ml-35{
	margin-left: -35px !important;
}

.ml-40{
	margin-left: -40px !important;
}

.ml-45{
	margin-left: -45px !important;
}

.ml-50{
	margin-left: -50px !important;
}

.ml-per50{
	margin-left: 50% !important;
}

.ml-per-50{
	margin-left: -50% !important;
}

/*padding-top*/

.pt0{
	padding-top: 0px !important;
}

.pt1{
	padding-top: 1px !important;
}

.pt2{
	padding-top: 2px !important;
}

.pt3{
	padding-top: 3px !important;
}

.pt4{
	padding-top: 4px !important;
}

.pt5{
	padding-top: 5px !important;
}

.pt6{
	padding-top: 6px !important;
}

.pt7{
	padding-top: 7px !important;
}

.pt8{
	padding-top: 8px !important;
}

.pt9{
	padding-top: 9px !important;
}

.pt10{
	padding-top: 10px !important;
}

.pt11{
	padding-top: 11px !important;
}

.pt12{
	padding-top: 12px !important;
}

.pt13{
	padding-top: 13px !important;
}

.pt14{
	padding-top: 14px !important;
}

.pt15{
	padding-top: 15px !important;
}

.pt16{
	padding-top: 16px !important;
}

.pt17{
	padding-top: 17px !important;
}

.pt18{
	padding-top: 18px !important;
}

.pt19{
	padding-top: 19px !important;
}

.pt20{
	padding-top: 20px !important;
}

.pt21{
	padding-top: 21px !important;
}

.pt22{
	padding-top: 22px !important;
}

.pt23{
	padding-top: 23px !important;
}

.pt24{
	padding-top: 24px !important;
}

.pt25{
	padding-top: 25px !important;
}

.pt26{
	padding-top: 26px !important;
}

.pt27{
	padding-top: 27px !important;
}

.pt28{
	padding-top: 28px !important;
}

.pt29{
	padding-top: 29px !important;
}

.pt30{
	padding-top: 30px !important;
}

.pt35{
	padding-top: 35px !important;
}

.pt40{
	padding-top: 40px !important;
}

.pt45{
	padding-top: 45px !important;
}

.pt50{
	padding-top: 50px !important;
}

.pt60{
	padding-top: 60px !important;
}

.pt70{
	padding-top: 70px !important;
}

.pt80{
	padding-top: 80px !important;
}

.pt90{
	padding-top: 90px !important;
}

.pt100{
	padding-top: 100px !important;
}

.pt-1{
	padding-top: -1px !important;
}

.pt-2{
	padding-top: -2px !important;
}

.pt-3{
	padding-top: -3px !important;
}

.pt-4{
	padding-top: -4px !important;
}

.pt-5{
	padding-top: -5px !important;
}

.pt-6{
	padding-top: -6px !important;
}

.pt-7{
	padding-top: -7px !important;
}

.pt-8{
	padding-top: -8px !important;
}

.pt-9{
	padding-top: -9px !important;
}

.pt-10{
	padding-top: -10px !important;
}

.pt-11{
	padding-top: -11px !important;
}

.pt-12{
	padding-top: -12px !important;
}

.pt-13{
	padding-top: -13px !important;
}

.pt-14{
	padding-top: -14px !important;
}

.pt-15{
	padding-top: -15px !important;
}

.pt-16{
	padding-top: -16px !important;
}

.pt-17{
	padding-top: -17px !important;
}

.pt-18{
	padding-top: -18px !important;
}

.pt-19{
	padding-top: -19px !important;
}

.pt-20{
	padding-top: -20px !important;
}

.pt-21{
	padding-top: -21px !important;
}

.pt-22{
	padding-top: -22px !important;
}

.pt-23{
	padding-top: -23px !important;
}

.pt-24{
	padding-top: -24px !important;
}

.pt-25{
	padding-top: -25px !important;
}

.pt-26{
	padding-top: -26px !important;
}

.pt-27{
	padding-top: -27px !important;
}

.pt-28{
	padding-top: -28px !important;
}

.pt-29{
	padding-top: -29px !important;
}

.pt-30{
	padding-top: -30px !important;
}

.pt-35{
	padding-top: -35px !important;
}

.pt-40{
	padding-top: -40px !important;
}

.pt-45{
	padding-top: -45px !important;
}

.pt-50{
	padding-top: -50px !important;
}

.pt-per50{
	padding-top: 50% !important;
}

.pt-per-50{
	padding-top: -50% !important;
}

/*padding-right*/

.pr0{
	padding-right: 0px !important;
}

.pr1{
	padding-right: 1px !important;
}

.pr2{
	padding-right: 2px !important;
}

.pr3{
	padding-right: 3px !important;
}

.pr4{
	padding-right: 4px !important;
}

.pr5{
	padding-right: 5px !important;
}

.pr6{
	padding-right: 6px !important;
}

.pr7{
	padding-right: 7px !important;
}

.pr8{
	padding-right: 8px !important;
}

.pr9{
	padding-right: 9px !important;
}

.pr10{
	padding-right: 10px !important;
}

.pr11{
	padding-right: 11px !important;
}

.pr12{
	padding-right: 12px !important;
}

.pr13{
	padding-right: 13px !important;
}

.pr14{
	padding-right: 14px !important;
}

.pr15{
	padding-right: 15px !important;
}

.pr16{
	padding-right: 16px !important;
}

.pr17{
	padding-right: 17px !important;
}

.pr18{
	padding-right: 18px !important;
}

.pr19{
	padding-right: 19px !important;
}

.pr20{
	padding-right: 20px !important;
}

.pr21{
	padding-right: 21px !important;
}

.pr22{
	padding-right: 22px !important;
}

.pr23{
	padding-right: 23px !important;
}

.pr24{
	padding-right: 24px !important;
}

.pr25{
	padding-right: 25px !important;
}

.pr26{
	padding-right: 26px !important;
}

.pr27{
	padding-right: 27px !important;
}

.pr28{
	padding-right: 28px !important;
}

.pr29{
	padding-right: 29px !important;
}

.pr30{
	padding-right: 30px !important;
}

.pr35{
	padding-right: 35px !important;
}

.pr40{
	padding-right: 40px !important;
}

.pr45{
	padding-right: 45px !important;
}

.pr50{
	padding-right: 50px !important;
}

.pr-1{
	padding-right: -1px !important;
}

.pr-2{
	padding-right: -2px !important;
}

.pr-3{
	padding-right: -3px !important;
}

.pr-4{
	padding-right: -4px !important;
}

.pr-5{
	padding-right: -5px !important;
}

.pr-6{
	padding-right: -6px !important;
}

.pr-7{
	padding-right: -7px !important;
}

.pr-8{
	padding-right: -8px !important;
}

.pr-9{
	padding-right: -9px !important;
}

.pr-10{
	padding-right: -10px !important;
}

.pr-11{
	padding-right: -11px !important;
}

.pr-12{
	padding-right: -12px !important;
}

.pr-13{
	padding-right: -13px !important;
}

.pr-14{
	padding-right: -14px !important;
}

.pr-15{
	padding-right: -15px !important;
}

.pr-16{
	padding-right: -16px !important;
}

.pr-17{
	padding-right: -17px !important;
}

.pr-18{
	padding-right: -18px !important;
}

.pr-19{
	padding-right: -19px !important;
}

.pr-20{
	padding-right: -20px !important;
}

.pr-21{
	padding-right: -21px !important;
}

.pr-22{
	padding-right: -22px !important;
}

.pr-23{
	padding-right: -23px !important;
}

.pr-24{
	padding-right: -24px !important;
}

.pr-25{
	padding-right: -25px !important;
}

.pr-26{
	padding-right: -26px !important;
}

.pr-27{
	padding-right: -27px !important;
}

.pr-28{
	padding-right: -28px !important;
}

.pr-29{
	padding-right: -29px !important;
}

.pr-30{
	padding-right: -30px !important;
}

.pr-35{
	padding-right: -35px !important;
}

.pr-40{
	padding-right: -40px !important;
}

.pr-45{
	padding-right: -45px !important;
}

.pr-50{
	padding-right: -50px !important;
}

.pr-per50{
	padding-right: 50% !important;
}

.pr-per-50{
	padding-right: -50% !important;
}

/*padding-bottom*/

.pb0{
	padding-bottom: 0px !important;
}

.pb1{
	padding-bottom: 1px !important;
}

.pb2{
	padding-bottom: 2px !important;
}

.pb3{
	padding-bottom: 3px !important;
}

.pb4{
	padding-bottom: 4px !important;
}

.pb5{
	padding-bottom: 5px !important;
}

.pb6{
	padding-bottom: 6px !important;
}

.pb7{
	padding-bottom: 7px !important;
}

.pb8{
	padding-bottom: 8px !important;
}

.pb9{
	padding-bottom: 9px !important;
}

.pb10{
	padding-bottom: 10px !important;
}

.pb11{
	padding-bottom: 11px !important;
}

.pb12{
	padding-bottom: 12px !important;
}

.pb13{
	padding-bottom: 13px !important;
}

.pb14{
	padding-bottom: 14px !important;
}

.pb15{
	padding-bottom: 15px !important;
}

.pb16{
	padding-bottom: 16px !important;
}

.pb17{
	padding-bottom: 17px !important;
}

.pb18{
	padding-bottom: 18px !important;
}

.pb19{
	padding-bottom: 19px !important;
}

.pb20{
	padding-bottom: 20px !important;
}

.pb21{
	padding-bottom: 21px !important;
}

.pb22{
	padding-bottom: 22px !important;
}

.pb23{
	padding-bottom: 23px !important;
}

.pb24{
	padding-bottom: 24px !important;
}

.pb25{
	padding-bottom: 25px !important;
}

.pb26{
	padding-bottom: 26px !important;
}

.pb27{
	padding-bottom: 27px !important;
}

.pb28{
	padding-bottom: 28px !important;
}

.pb29{
	padding-bottom: 29px !important;
}

.pb30{
	padding-bottom: 30px !important;
}

.pb35{
	padding-bottom: 35px !important;
}

.pb40{
	padding-bottom: 40px !important;
}

.pb45{
	padding-bottom: 45px !important;
}

.pb50{
	padding-bottom: 50px !important;
}

.pb-1{
	padding-bottom: -1px !important;
}

.pb-2{
	padding-bottom: -2px !important;
}

.pb-3{
	padding-bottom: -3px !important;
}

.pb-4{
	padding-bottom: -4px !important;
}

.pb-5{
	padding-bottom: -5px !important;
}

.pb-6{
	padding-bottom: -6px !important;
}

.pb-7{
	padding-bottom: -7px !important;
}

.pb-8{
	padding-bottom: -8px !important;
}

.pb-9{
	padding-bottom: -9px !important;
}

.pb-10{
	padding-bottom: -10px !important;
}

.pb-11{
	padding-bottom: -11px !important;
}

.pb-12{
	padding-bottom: -12px !important;
}

.pb-13{
	padding-bottom: -13px !important;
}

.pb-14{
	padding-bottom: -14px !important;
}

.pb-15{
	padding-bottom: -15px !important;
}

.pb-16{
	padding-bottom: -16px !important;
}

.pb-17{
	padding-bottom: -17px !important;
}

.pb-18{
	padding-bottom: -18px !important;
}

.pb-19{
	padding-bottom: -19px !important;
}

.pb-20{
	padding-bottom: -20px !important;
}

.pb-21{
	padding-bottom: -21px !important;
}

.pb-22{
	padding-bottom: -22px !important;
}

.pb-23{
	padding-bottom: -23px !important;
}

.pb-24{
	padding-bottom: -24px !important;
}

.pb-25{
	padding-bottom: -25px !important;
}

.pb-26{
	padding-bottom: -26px !important;
}

.pb-27{
	padding-bottom: -27px !important;
}

.pb-28{
	padding-bottom: -28px !important;
}

.pb-29{
	padding-bottom: -29px !important;
}

.pb-30{
	padding-bottom: -30px !important;
}

.pb-35{
	padding-bottom: -35px !important;
}

.pb-40{
	padding-bottom: -40px !important;
}

.pb-45{
	padding-bottom: -45px !important;
}

.pb-50{
	padding-bottom: -50px !important;
}

.pb-per50{
	padding-bottom: 50% !important;
}

.pb-per-50{
	padding-bottom: -50% !important;
}

/*padding-left*/

.pl0{
	padding-left: 0px !important;
}

.pl1{
	padding-left: 1px !important;
}

.pl2{
	padding-left: 2px !important;
}

.pl3{
	padding-left: 3px !important;
}

.pl4{
	padding-left: 4px !important;
}

.pl5{
	padding-left: 5px !important;
}

.pl6{
	padding-left: 6px !important;
}

.pl7{
	padding-left: 7px !important;
}

.pl8{
	padding-left: 8px !important;
}

.pl9{
	padding-left: 9px !important;
}

.pl10{
	padding-left: 10px !important;
}

.pl11{
	padding-left: 11px !important;
}

.pl12{
	padding-left: 12px !important;
}

.pl13{
	padding-left: 13px !important;
}

.pl14{
	padding-left: 14px !important;
}

.pl15{
	padding-left: 15px !important;
}

.pl16{
	padding-left: 16px !important;
}

.pl17{
	padding-left: 17px !important;
}

.pl18{
	padding-left: 18px !important;
}

.pl19{
	padding-left: 19px !important;
}

.pl20{
	padding-left: 20px !important;
}

.pl21{
	padding-left: 21px !important;
}

.pl22{
	padding-left: 22px !important;
}

.pl23{
	padding-left: 23px !important;
}

.pl24{
	padding-left: 24px !important;
}

.pl25{
	padding-left: 25px !important;
}

.pl26{
	padding-left: 26px !important;
}

.pl27{
	padding-left: 27px !important;
}

.pl28{
	padding-left: 28px !important;
}

.pl29{
	padding-left: 29px !important;
}

.pl30{
	padding-left: 30px !important;
}

.pl35{
	padding-left: 35px !important;
}

.pl40{
	padding-left: 40px !important;
}

.pl45{
	padding-left: 45px !important;
}

.pl50{
	padding-left: 50px !important;
}

.pl-1{
	padding-left: -1px !important;
}

.pl-2{
	padding-left: -2px !important;
}

.pl-3{
	padding-left: -3px !important;
}

.pl-4{
	padding-left: -4px !important;
}

.pl-5{
	padding-left: -5px !important;
}

.pl-6{
	padding-left: -6px !important;
}

.pl-7{
	padding-left: -7px !important;
}

.pl-8{
	padding-left: -8px !important;
}

.pl-9{
	padding-left: -9px !important;
}

.pl-10{
	padding-left: -10px !important;
}

.pl-11{
	padding-left: -11px !important;
}

.pl-12{
	padding-left: -12px !important;
}

.pl-13{
	padding-left: -13px !important;
}

.pl-14{
	padding-left: -14px !important;
}

.pl-15{
	padding-left: -15px !important;
}

.pl-16{
	padding-left: -16px !important;
}

.pl-17{
	padding-left: -17px !important;
}

.pl-18{
	padding-left: -18px !important;
}

.pl-19{
	padding-left: -19px !important;
}

.pl-20{
	padding-left: -20px !important;
}

.pl-21{
	padding-left: -21px !important;
}

.pl-22{
	padding-left: -22px !important;
}

.pl-23{
	padding-left: -23px !important;
}

.pl-24{
	padding-left: -24px !important;
}

.pl-25{
	padding-left: -25px !important;
}

.pl-26{
	padding-left: -26px !important;
}

.pl-27{
	padding-left: -27px !important;
}

.pl-28{
	padding-left: -28px !important;
}

.pl-29{
	padding-left: -29px !important;
}

.pl-30{
	padding-left: -30px !important;
}

.pl-35{
	padding-left: -35px !important;
}

.pl-40{
	padding-left: -40px !important;
}

.pl-45{
	padding-left: -45px !important;
}

.pl-50{
	padding-left: -50px !important;
}

.pl-per50{
	padding-left: 50% !important;
}

.pl-per-50{
	padding-left: -50% !important;
}

/*margin*/
.m0{
	margin: 0px !important;
}

.m1{
	margin: 1px !important;
}

.m2{
	margin: 2px !important;
}

.m3{
	margin: 3px !important;
}

.m4{
	margin: 4px !important;
}

.m5{
	margin: 5px !important;
}

.m6{
	margin: 6px !important;
}

.m7{
	margin: 7px !important;
}

.m8{
	margin: 8px !important;
}

.m9{
	margin: 9px !important;
}

.m10{
	margin: 10px !important;
}

.m11{
	margin: 11px !important;
}

.m12{
	margin: 12px !important;
}

.m13{
	margin: 13px !important;
}

.m14{
	margin: 14px !important;
}

.m15{
	margin: 15px !important;
}

.m16{
	margin: 16px !important;
}

.m17{
	margin: 17px !important;
}

.m18{
	margin: 18px !important;
}

.m19{
	margin: 19px !important;
}

.m20{
	margin: 20px !important;
}

.m21{
	margin: 21px !important;
}

.m22{
	margin: 22px !important;
}

.m23{
	margin: 23px !important;
}

.m24{
	margin: 24px !important;
}

.m25{
	margin: 25px !important;
}

.m26{
	margin: 26px !important;
}

.m27{
	margin: 27px !important;
}

.m28{
	margin: 28px !important;
}

.m29{
	margin: 29px !important;
}

.m30{
	margin: 30px !important;
}

.m35{
	margin: 35px !important;
}

.m40{
	margin: 40px !important;
}

.m45{
	margin: 45px !important;
}

.m50{
	margin: 50px !important;
}

/*padding*/
.p0{
	padding: 0px !important;
}

.p1{
	padding: 1px !important;
}

.p2{
	padding: 2px !important;
}

.p3{
	padding: 3px !important;
}

.p4{
	padding: 4px !important;
}

.p5{
	padding: 5px !important;
}

.p6{
	padding: 6px !important;
}

.p7{
	padding: 7px !important;
}

.p8{
	padding: 8px !important;
}

.p9{
	padding: 9px !important;
}

.p10{
	padding: 10px !important;
}

.p11{
	padding: 11px !important;
}

.p12{
	padding: 12px !important;
}

.p13{
	padding: 13px !important;
}

.p14{
	padding: 14px !important;
}

.p15{
	padding: 15px !important;
}

.p16{
	padding: 16px !important;
}

.p17{
	padding: 17px !important;
}

.p18{
	padding: 18px !important;
}

.p19{
	padding: 19px !important;
}

.p20{
	padding: 20px !important;
}

.p21{
	padding: 21px !important;
}

.p22{
	padding: 22px !important;
}

.p23{
	padding: 23px !important;
}

.p24{
	padding: 24px !important;
}

.p25{
	padding: 25px !important;
}

.p26{
	padding: 26px !important;
}

.p27{
	padding: 27px !important;
}

.p28{
	padding: 28px !important;
}

.p29{
	padding: 29px !important;
}

.p30{
	padding: 30px !important;
}

.p35{
	padding: 35px !important;
}

.p40{
	padding: 40px !important;
}

.p45{
	padding: 45px !important;
}

.p50{
	padding: 50px !important;
}

/*font-family*/
.ft-micro{
	font-family: "microsoft yahei" !important;
}

.ft-w{
	font-family: "微软雅黑" !important;
}

.ft-s{
	font-family: "宋体" !important;
}

/*font-size*/

.s1{
	font-size: 1px !important;
}

.s2{
	font-size: 2px !important;
}

.s3{
	font-size: 3px !important;
}

.s4{
	font-size: 4px !important;
}

.s5{
	font-size: 5px !important;
}

.s6{
	font-size: 6px !important;
}

.s7{
	font-size: 7px !important;
}

.s8{
	font-size: 8px !important;
}

.s9{
	font-size: 9px !important;
}

.s10{
	font-size: 10px !important;
}

.s11{
	font-size: 11px !important;
}

.s12{
	font-size: 12px !important;
}

.s13{
	font-size: 13px !important;
}

.s14{
	font-size: 14px !important;
}

.s15{
	font-size: 15px !important;
}

.s16{
	font-size: 16px !important;
}

.s17{
	font-size: 17px !important;
}

.s18{
	font-size: 18px !important;
}

.s19{
	font-size: 19px !important;
}

.s20{
	font-size: 20px !important;
}

.s21{
	font-size: 21px !important;
}

.s22{
	font-size: 22px !important;
}

.s23{
	font-size: 23px !important;
}

.s24{
	font-size: 24px !important;
}

.s25{
	font-size: 25px !important;
}

.s26{
	font-size: 26px !important;
}

.s27{
	font-size: 27px !important;
}

.s28{
	font-size: 28px !important;
}

.s29{
	font-size: 29px !important;
}

.s30{
	font-size: 30px !important;
}

.s31{
	font-size: 31px !important;
}

.s32{
	font-size: 32px !important;
}

.s33{
	font-size: 33px !important;
}

.s34{
	font-size: 34px !important;
}

.s35{
	font-size: 35px !important;
}

.s36{
	font-size: 36px !important;
}

.s37{
	font-size: 37px !important;
}

.s38{
	font-size: 38px !important;
}

.s39{
	font-size: 39px !important;
}

.s40{
	font-size: 40px !important;
}

.s41{
	font-size: 41px !important;
}

.s42{
	font-size: 42px !important;
}

.s43{
	font-size: 43px !important;
}

.s44{
	font-size: 44px !important;
}

.s45{
	font-size: 45px !important;
}

.s46{
	font-size: 46px !important;
}

.s47{
	font-size: 47px !important;
}

.s48{
	font-size: 48px !important;
}

.s49{
	font-size: 49px !important;
}

.s50{
	font-size: 50px !important;
}

/*z-index*/

.z1{
	z-index: 1 !important;
}

.z2{
	z-index: 2 !important;
}

.z3{
	z-index: 3 !important;
}

.z4{
	z-index: 4 !important;
}

.z5{
	z-index: 5 !important;
}

.z6{
	z-index: 6 !important;
}

.z7{
	z-index: 7 !important;
}

.z8{
	z-index: 8 !important;
}

.z9{
	z-index: 9 !important;
}

.z10{
	z-index: 10 !important;
}

.z20{
	z-index: 20 !important;
}

.z30{
	z-index: 30 !important;
}

.z40{
	z-index: 40 !important;
}

.z50{
	z-index: 50 !important;
}

.z666{
	z-index: 666 !important;
}

.z777{
	z-index: 777 !important;
}

.z888{
	z-index: 888 !important;
}

.z999{
	z-index: 999 !important;
}

/*line-height*/

.lh14{
	line-height: 14px !important;
}

.lh16{
	line-height: 16px !important;
}

.lh18{
	line-height: 18px !important;
}

.lh20{
	line-height: 20px !important;
}

.lh22{
	line-height: 22px !important;
}

.lh24{
	line-height: 24px !important;
}

.lh26{
	line-height: 26px !important;
}

.lh28{
	line-height: 28px !important;
}

.lh30{
	line-height: 30px !important;
}

.lh32{
	line-height: 32px !important;
}

.lh34{
	line-height: 34px !important;
}

.lh36{
	line-height: 36px !important;
}

.lh38{
	line-height: 38px !important;
}

.lh40{
	line-height: 40px !important;
}

.lh42{
	line-height: 42px !important;
}

.lh44{
	line-height: 44px !important;
}

.lh46{
	line-height: 46px !important;
}

.lh48{
	line-height: 48px !important;
}

.lh50{
	line-height: 50px !important;
}

/*font-weight*/
.fw-bold{
	font-weight: bold !important;
}

.fw-normal{
	font-weight: normal !important;
}

/*text-indent*/
.text-indent-1{
	text-indent: 1em !important;
}

.text-indent-2{
	text-indent: 2em !important;
}

/*text-decoration:none*/
.text-dec-none{
	text-decoration: none !important;
}

/*clear*/
.clear{
	clear: both !important;
}

.clear-l{
	clear: left !important;
}

.clear-r{
	clear: right !important;
}

/*cursor*/
.cursor-pointer{
	cursor: pointer !important;
}

.cursor-default{
	cursor: default !important;
}

.cursor-hand{
	cursor: hand !important;
}

.cursor-move{
	cursor: move !important;
}

/*overflow*/
.ofh{
	overflow: hidden !important;
}

.ofh-x{
	overflow-x: hidden !important;
}

.ofh-y{
	overflow-y: hidden !important;
}

.ofs{
	overflow: scroll !important;
}

.ofs-x{
	overflow-x: scroll !important;
}

.ofs-y{
	overflow-y: scroll !important;
}

/*文本溢出 text-overflow*/
.spill{
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	overflow: hidden !important;
}

/*box-shadow*/
.shadow-none{
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

.shadow{
	box-shadow: 1px 1px 1px 1px #ccc !important;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc !important;
}

.shadow-ins{
	box-shadow: 1px 1px 1px 1px #ccc inset !important;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc !important;
}

.outline-none{
	outline: none !important;
}

/*text-align*/
.text-center{
	text-align: center !important;
}

.text-left{
	text-align: left !important;
}

.text-right{
	text-align: right !important;
}


/*button-size*/
.btn-mini {
  width: 60px!important;
}
.btn-small {
  width: 90px!important;
}
.btn-normal {
  width: 100px!important;
}
.btn-medium {
  width: 150px!important;
}
.btn-large {
  width: 210px!important;
}
.btn-xlarge {
  width: 270px!important;
}
.btn-block {
  width: 100%;
  display: block;
}

/*input-size*/
.input-mini {
  width: 60px!important;
}
.input-small {
  width: 90px!important;
}
.input-normal {
  width: 100px!important;
}
.input-medium {
  width: 150px!important;
}
.input-large {
  width: 210px!important;
}
.input-xlarge {
  width: 270px!important;
}
.input-block {
  width: 100%;
  display: block;
}

/*box-sizing*/
.bz{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/*bootstrap self add*/

.input-group-primary .input-group-addon{
	color: white !important;
	background-color: #337ab7 !important;
	border: 1px solid #337ab7 !important;
}

.input-group-primary .form-control{
	border-color:#337ab7 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.input-group-primary .form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6) !important;
}




.input-group-success .input-group-addon{
	color: white !important;
	background-color: #5cb85c !important;
	border: 1px solid #5cb85c !important;
}

.input-group-success .form-control{
	border-color:#5cb85c !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.input-group-success .form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(97,226,97,.6) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(97,226,97,.6) !important;
}





.input-group-warning .input-group-addon{
	color: white !important;
	background-color: #f0ad4e !important;
	border: 1px solid #f0ad4e !important;
}

.input-group-warning .form-control{
	border-color:#f0ad4e !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.input-group-warning .form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(249,190,106,.6) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(249,190,106,.6) !important;
}



.input-group-info .input-group-addon{
	color: white !important;
	background-color: #31b0d5 !important;
	border: 1px solid #31b0d5 !important;
}

.input-group-info .form-control{
	border-color:#31b0d5 !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.input-group-info .form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(108,214,245,.6) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(108,214,245,.6) !important;
}


.input-group-default .input-group-addon{
	color: white !important;
	background-color: #ccc !important;
	border: 1px solid #ccc !important;
}

.input-group-default .form-control{
	border-color:#ccc !important;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.input-group-default .form-control:focus{
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,238,238,.6) !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(238,238,238,.6) !important;
}

/*修改placehold文字颜色*/
.dark-placehold::-webkit-input-placeholder { /* WebKit browsers */ 
color: #555 !important; 
} 
.dark-placehold:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #555 !important; 
} 
.dark-placehold::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #555 !important; 
} 
.dark-placehold:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #555 !important; 
} 



.table-primary thead tr{
	background:#337ab7 !important;
	color: white !important;
}

.table-success thead tr{
	background:#5cb85c !important;
	color: white !important;
}

.table-info thead tr{
	background:#31b0d5 !important;
	color: white !important;
}

.table-warning thead tr{
	background:#f0ad4e !important;
	color: white !important;
}

.table-default thead tr{
	background:#ccc !important;
	color: white !important;
}


td{
	vertical-align: middle !important;
}

